body {
  margin: 0;
  padding: 0;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  background-color: black;
  height: 100vh; /* ini klo di tailwind h-screen, ini fungsinya untuk ngebuat ukuran tinggi tiap screen*/
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.container .header a {
  width: 33.33%;
}

.container .header h4 {
  width: 33.33%;
  text-align: center;
}

.container .header span {
  width: 33.33%;
}

.container .formInput form {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 5px;
  padding: 5px;
}

/* ini untuk mengatur kotak-kotak input yang ada di dalam grid,
karena kotak input yang ada di dalam grid ukurannya bisa berbeda.
bisa juga dipakaikan di setiap parentnya / ditaro seperti ini agar sudah di set di awal,
jd tidak perlu ditaro di tiap parentnya. */
*,
:before,
:after {
  box-sizing: border-box;
}

.container .formInput .kolom {
  grid-column: span 12;
}

.container .formInput .kolom label {
  display: block;
}

.container .formInput .kolom input {
  width: 100%;
  /* box-sizing: border-box; */
  height: 30px;
  border-radius: 5px;
}

.container .formInput .button {
  grid-column: span 12;
}

.container .formInput .button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
  background: rgb(45 45 45);
  /* box-sizing: border-box; */
  margin-top: 5px;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  color: white;
}

/* ini contoh pake tailwind (framework buat css) */
/* .coba form {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.kol {
    grid-column: span 12 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.kol label {
    grid-column: span 83 / span 3;
}

.kol input {
    grid-column: span 9 / span 9;
} */
