body {
  margin: 0;
  padding: 0;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  background-color: black;
  height: 900px;
  /* border-radius: 10px;
  margin-top: 5px; */
}

.container .kembali {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  margin-left: 10px;
}

.container h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0px 10px 45px 10px;
  padding: 5px;
}

.container .formInput form {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 5px;
  padding: 5px;
}

.container .formInput div {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  border-radius: 5px;
}

.container .formInput .kolom label {
  grid-column: span 3;
  font-weight: bold;
}

.container .formInput .kolom input {
  grid-column: span 12;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
}

.container .formInput .button button {
  grid-column: span 12;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  background: darkslategray;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* .container .formInput .button {
    justify-items: end;
} */

/* ini contoh pake tailwind (framework buat css) */
/* .coba form {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.kol {
    grid-column: span 12 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.kol label {
    grid-column: span 83 / span 3;
}

.kol input {
    grid-column: span 9 / span 9;
} */
